@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg-color: #252526;
  --content-bg-color: #1e1e1e;
  --text-color: #D4D4C8;
  --const-color: #4FC1FF;
  --type-color: #4DC9A1;
  --string-literal-color: #CE9154;
  --function-color: #D7D3A1;
  --primary-keyword-color: #569CD6;
  --secondary-keyword-color: #C586C0;
  --comment-color: #6A9956;
  --bracket-color: #FFD602;
  --property-color: #9CDCEE;
  --attribute-color: #9CDCEE;
  --angle-color: #5A707B;
  --tag-color: #569CD6;
}

[data-theme='light'] {
  --primary-keyword-color: #0000FF;
  --secondary-keyword-color: #AF01E3;
  --body-bg-color: #F3F3F3;
  --content-bg-color: #FFFFFF;
  --text-color: #000000;
  --const-color: #0070C1;
  --type-color: #257F99;
  --string-literal-color: #A21515;
  --function-color: #795E27;
  --comment-color: #008000;
  --bracket-color: #0000FF;
  --property-color: #001080;
  --attribute-color: #ED0000;
  --angle-color: #800000;
  --tag-color: #800000;
}

.function {
  color: var(--function-color);
}

.stringLiteral {
  color: var(--string-literal-color);
}

.primaryKeyword {
  color: var(--primary-keyword-color);
}

.secondaryKeyword {
  color: var(--secondary-keyword-color);
}

.variable {
  color: var(--const-color);
}

.type {
  color: var(--type-color);
}

.comment {
  color: var(--comment-color);
}

.bracket {
  color: var(--bracket-color);
}

.attribute {
  color: var(--attribute-color);
}

.property {
  color: var(--property-color);
}

.angle {
  color: var(--angle-color);
}

.tag {
  color: var(--tag-color);
}

a {
  color: var(--property-color);
}

a:active {
  color: var(--function-color);
}

body {
  color: var(--text-color);
  background: var(--body-bg-color);
  overflow-y: scroll;
  height: 100vh;
}

.contentContainer{
  margin: 0 auto;
  width: 100%;
  background: var(--content-bg-color);
}

.mainContent {
  background: var(--content-bg-color);
}

.copyright{
  color: var(--body-bg-color);
}